:root {
    --primaryColor: #2890FA;
    --textColor: white;
    --largeFont: 'Cabin';
    --readFont: 'Noto Sans Display';
    --backgroundColor: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primaryColor: #022446;
    --backgroundColor: #181818;
  }
}

body {
    background-color: var(--backgroundColor);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: var(--primaryColor);
    color: var(--textColor);
    align-items: center;
    border-radius: 10px;
    padding: 20px 0;
}

.main-title {
    font-family: var(--largeFont);
    font-size: 70px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    list-style: none;
    font-family: var(--readFont);
    flex-wrap: wrap;
    justify-content: center;
}

a {
    color: var(--textColor);
}
